/*   color variables */
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: white;

/*   border radius */
$radius: 4px;

.form {
  position: relative;
  width: 300px;
  height: 50px;
  font-size: 14px;
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    border: 2px solid $clr-gray300;
    border-radius: $radius;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    background: none;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: 250ms ease;
    &:hover {
      border-color: black;
    }
    &:focus {
      border-color: black;
    }
  }

  &__label {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    transition: top 200ms ease, left 200ms ease, font-size 200ms ease;
    background-color: $clr-bg;
  }
}

.container-menu {
  position: relative;
  .popover-container {
    position: absolute;
    transition: max-height 250ms ease;
    width: 100%;
    top: calc(100% + 5px);
    animation-duration: 250ms;
    background-color: black;
    color: white;
    animation-fill-mode: forwards;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    &.visible {
      animation-name: visible-popover;
    }
    &.hidden {
      animation-name: hidden-popover;
    }
  }
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

@keyframes visible-popover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hidden-popover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#portal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  top: 0;
  pointer-events: none;
}
